*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 3, 17);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content1{
    position: relative;
    max-width: 22rem;
    width: 100%;
    background-color: #1c1c1c;
    overflow: hidden;
    perspective: 1000px;
    z-index: 10;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(3, 3, 17);
}
.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.content1 form .user-details1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h2{
    color: rgb(0, 245, 61);
    font-family: candara ;
    margin-bottom: 1rem;
    font-size: 1.9rem;
    margin-bottom: 2.7rem;
    margin-top: 1rem;
}
.inputbox{
    position: relative;
    width: 100%;
    background: transparent;
    border:none;
    margin: 6px 0;
    height: 32px;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    z-index: 10;
    font-family: candara;
    font-weight: 900;
    font-size: large;
}
button{
    width: 100%;
    background-color: #131314;
    border: transparent;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 18px;
    border-radius: 0;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: rgb(0, 245, 61);
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    font-family: candara;
}
.btn a{
    color:rgb(0, 245, 61);
}
.btn a:hover{
    color: black;
    font-weight: 600;
}
button:hover{
    color: black;
    background-color: rgb(0, 245, 61);
    box-shadow: 0 0 10px rgb(0, 245, 61), 0 0 40px rgb(0, 245, 61), 0 0 80px rgb(0, 245, 61);
    font-weight: 600;
    text-shadow: 0 0 10px black;
}
button span{
    position: absolute;
    display: block;
}
button span:nth-child(1){
    top:0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(0, 245, 61));
    animation: animate1 1s linear infinite;
}
@keyframes animate1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(0, 245, 61));
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2 {
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent, rgb(0, 245, 61));
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3 {
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(0, 245, 61));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4 {
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
.input-box{
    position: relative;
    margin-bottom: 1rem;
}
.input-box .ab{
    position: absolute;
    left: 0;
    padding: 0px 5px 10px;
    font-size: 1.1rem;
    color: #d6d6d6;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.input-box .abc{
    position: absolute;
    left: 0;
    padding: 0px 5px 10px;
    font-size: 1.1rem;
    color: #d6d6d6;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
    
}
.input-box .inputbox:valid ~ .ab,
.input-box .inputbox:focus ~ .ab{
    color: rgb(0, 245, 61);
    transform: translateX(-1px) translateY(-34px);
    font-size: 0.97em;
}
.input-box .inputbox:valid ~ .abc,
.input-box .inputbox:focus ~ .abc{
    color: rgb(0, 245, 61);
    transform: translateX(-1px) translateY(-34px);
    font-size: 0.97em;
}
.input-box i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transition: 0.5s;
    pointer-events: none;
    border-radius: 8px;
    background: rgb(0, 245, 61);
    z-index: 9;
}
.input-box input:valid ~ i,
.input-box input:focus ~ i{
    height: 47px;
}
.eye{
    position: absolute;
    z-index: 10;
}
.fa{
    margin-left: -31px;
    margin-top: 11px;
    color: #837777;
    font-size: 20px;
}
#hide5{
    display: none;
}
p{
    color: #d6d6d6;
    font-family: candara;
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 5px;
}
p a{
    color: rgb(194, 194, 194);
    font-size: 18px;
    font-family: candara;
}
.card1 a{
    color: rgb(194, 194, 194);
    font-size: 18px;
    font-family: candara;
    margin-bottom: 1rem;
}
a:hover{
    color: rgb(0, 245, 61);
    text-shadow: 2px rgb(0, 245, 61);
}
.ac{
    color: #8f8f8f;
    padding: 1rem;
    font-size: 19px;
}
input[type="checkbox"]{
    margin-top: 1rem;
}


@media (max-width:584px){
    .content1{
        max-width: 96%;
    }
}